{% extends 'website/navbar.html'%}
{% load static %}


{% block title%} 
	<title>Homepage</title>

	<script>
		var countDownDate = new Date("Jul 25, 2021 16:37:52").getTime();

		// Run myfunc every second
		var myfunc = setInterval(function() {

			var now = new Date().getTime();
			var timeleft = countDownDate - now;
				
			// Calculating the days, hours, minutes and seconds left
			var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
			var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
			var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
				
			// Result is output to the specific element
			document.getElementById("days").innerHTML = days + " "
			document.getElementById("hours").innerHTML = hours + " " 
			document.getElementById("mins").innerHTML = minutes + " " 
			document.getElementById("secs").innerHTML = seconds + " " 
				
			// Display the message when countdown is over
			if (timeleft < 0) {
				clearInterval(myfunc);
				document.getElementById("days").innerHTML = ""
				document.getElementById("hours").innerHTML = "" 
				document.getElementById("mins").innerHTML = ""
				document.getElementById("secs").innerHTML = ""
				document.getElementById("end").innerHTML = "TIME UP!!";
			}
		}, 1000);
	</script>

	<style>
		@font-face {
			font-family: "bigjohnpro-bold";
			src: url('{% static 'website/font/bigjohnpro-bold.otf' %}');
		}

		@font-face {
			font-family: "InknutAntiqua-Medium";
			src: url('{% static 'website/font/InknutAntiqua-Medium.ttf' %}');
		}

		.row {
			margin:auto!important
		}


		h1 {
			text-align: center; 
			color:#FFE8DB !important; 
			font-family:bigjohnpro-bold !important ;
		}

		h2 {
			text-align: center; 
			color:#FFE8DB !important; 
			font-family: InknutAntiqua-Medium!important; 
			font-size: clamp(12px, 1.5vw, 20px)!important;
		}

		#days, #welcome {
			font-size: clamp(40px, 4vw, 75px)!important;
		}

		#secs, #mins, #hours {
			font-size: clamp(40px, 3.2vw, 75px) !important;
		}

		#togo{
			font-size: clamp(25px, 3vw, 75px)!important;
		}
		

		
	</style>
{% endblock %}
{% block body%}
	<br>
	<br>
	<div class=container>
		<div style="margin:auto" class="row justify-content-center">
			<div class="col-12">
				<h1 id='welcome'>WELCOME TO JAMS 2021</h1>
			</div>
		</div>
		<br>
		<br>
		<div style="max-width: 40em; margin: auto;" class="row">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://drive.google.com/file/d/1tbcrHbyc94um6OSwTdd5MhkBqX_TbNZ-/preview" height="50%"></iframe>
			</div>
		</div>
		<br>
		<br>
		<div clas=row style="">
			<div class=col-12>
				<div><h1  class= "date" id= "days">99</h1></div>
			</div>
		</div>
		<div clas=row>
			<div class=col-12>
				<div><h2  class= "date">DAYS</h></div>
			</div>
		</div>
		<br>

		<div class="row justify-content-center">
			<div class=col-3 >
				<h1  class= "date" id="hours" >23</h1>
				<h2  class= "date" >HOURS</h2>
			</div>
			<div class=col-1>
				<h1 >:</h1>
			</div>
			<div class=col-3>
				<h1  class= "date" id="mins">59</h1>
				<h2 class= "date">MINUTES</h2>
			</div>
			<div class=col-1>
				<h1>:</h1>
			</div>
			<div class=col-3>
				<h1  class= "date" id="secs">59</h1>
				<h2  class= "date" >SECONDS</h2>
			</div>
		</div>
		<br>
		<br>

		<div class=row>
			<div class=col>
				<h2  class= "date" id="togo">TO GO</h2>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
{% endblock %}
