{% extends 'website/navbar.html'%}
{% load static %}

{% block title%} 
	<title>Info</title>
	<style>
		@font-face {
				font-family: "bigjohnpro-bold";
				src: url('{% static 'website/font/bigjohnpro-bold.otf' %}');
			}
	
		@font-face {
			font-family: "InknutAntiqua-Medium";
			src: url('{% static 'website/font/InknutAntiqua-Medium.ttf' %}');
		}
	
		h1 {
			text-align: center; 
			color:#FFE8DB !important; 
			font-family:bigjohnpro-bold !important ;
			font-size: clamp(40px, 4vw, 75px)!important;
		}
	</style>
{% endblock %}

{% block body%}
<div style="" class=container>
	<div class=row>
		<div class=col-12>
			<h1>INFO</h1>
		</div>
	</div>
	<div style="margin: auto; min-height: 60vh;" class="row align-items-center">
		<div style="margin:0px; padding: 0%;" class="col-12 align-self-center">
			
			<img style="max-height: 100%;max-width: 100%;" src="{% static 'website/img/coming soon.png' %}" alt="">
		</div>
	</div>
</div>
{% endblock %}