img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main-title{
    font-size: clamp(40px, 4vw, 75px)!important;
}

#contact-gedungperfilma{
    width: 90%;
}

#contact-labelperfilma{
    margin-top: 2rem;
    margin-left: 0rem;
    margin-bottom: 2rem;
}

@media all and (max-width: 991px) {
    #contact-labelperfilma{
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }
}

.contact-socmed{
    float: left;
    margin-right: 0.5rem;
}

/* #contact-address{
    margin-left: 3rem;
} */