<!DOCTYPE html>
<html>
<head>
    {% block title %}
    <title>Contact</title>
    {%endblock%}
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
	<a href="{% url 'lineup' %}">Line Up</a>
	<a href="{% url 'schedule' %}">Schedule</a>
	<a href="{% url 'ticket' %}">Ticket</a>
	<a href="{% url 'gallery' %}">Gallery</a>
	<a href="{% url 'info' %}">Info</a>
    <a href="{% url 'contact' %}">Contact</a>
    {% block body %}
    {% endblock%}

</body>
</html>